body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #5D3587, #31304D);

}

header {
    color: white;
    padding: 15px 0;
    text-align: center;
}

h1 {
    color: yellow;
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #0d009b, #660005);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 2%;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex: 0 0 38%;
    margin-bottom: 20px;
    background-color: #1F2544;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    color: #e8e8e8;
    padding: 0px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
    font-size: 20px;
    font-weight: 500;
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover .front-content {
    transform: translateX(-30%);
}

.card:hover .front-content p {
    opacity: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.up,
.down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.up button,
.down button {
    background: none;
    border: none;
    cursor: pointer;
}

footer {
    background: linear-gradient(to right, #0d009b, #660005);
    color: yellow;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/************/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.up,
.down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

.card1,
.card2,
.card3,
.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.instagram,
.twitter,
.github,
.discord {
    width: 50px;
    height: 50px;
    margin-bottom: 30rem;
}

.instagram {
    fill: #cc39a4;
}

.twitter {
    fill: #03A9F4;
}

.github {
    fill: white;
}

.discord {
    fill: #8c9eff;
}

.card1:hover .instagram {
    fill: white;
}

.card2:hover .twitter {
    fill: white;
}

.card3:hover .github {
    fill: black;
}

.card4:hover .discord {
    fill: white;
}

@media only screen and (max-width: 780px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        width: 100%;
        margin: 10px 0;
    }

    .up,
    .down {
        flex-direction: column;
        align-items: center;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        margin: 50px 0;
    }

    .instagram,
    .twitter,
    .github,
    .discord {
        width: 30px;
        height: 30px;
        margin-bottom: 0;
    }

    .card .content {
        transform: translateY(0);
        padding: 10px;
        transform: translateX(0);
    }
}
